.netlify-icon {
    font-size: 50px; /* Adjust size if needed */
    background: linear-gradient(45deg, #E50914, #0E76A8, #34A853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  